<div id="shopify-block-8605505498557855500" class="shopify-block shopify-app-block bogos-shopify-block">

<div id="secomapp_freegifts_version" data-version="3.0"></div>

<!-- BEGIN app snippet: freegifts-snippet -->

<link data-href="//cdn.shopify.com/extensions/f0b22dc3-f136-423d-b936-5616754ad4ea/bogos-io-free-gift-27/assets/glider.min.css" rel="stylesheet" />
<link data-href="//cdn.shopify.com/extensions/f0b22dc3-f136-423d-b936-5616754ad4ea/bogos-io-free-gift-27/assets/freegifts-main.css" rel="stylesheet" />
<link data-href="//cdn.shopify.com/extensions/f0b22dc3-f136-423d-b936-5616754ad4ea/bogos-io-free-gift-27/assets/bogos.bundle.css" rel="stylesheet" />
<style>
        .freegifts-main-container .fg-section-title { color: #121212; }
        .freegifts-main-container .product-title { color: #000000; }
        .freegifts-main-container .original-price { color: #121212; }
        .freegifts-main-container .gift-price { color: #ea5455; }
        .freegifts-main-container .btn-add-to-cart { color: #FFFFFF; background-color: #7367f0; }
        #sca-gift-icon .sca-gift-icon-img { width: 50px; max-height: 50px; }
        #sca-gift-thumbnail .sca-gift-image { width: 50px; max-height: 50px; }
        .sca-gift-icon-collection-page .sca-gift-icon-collection-img { width: 50px; max-height: 50px; }
        #sca-promotion-glider { color: #000000; background-color: #D9D9D9; }
        .freegifts-main-container .btn-add-to-cart svg path { fill: #FFFFFF; } 
        #sca-fg-today-offer-iframe .sca-fg-header {background-color: #FFFFFF}
        #sca-fg-today-offer-iframe .sca-fg-body {background-color: #b6b8db}
        #sca-fg-today-offer-iframe .sca-fg-today-offer-title {color: #b6b8db !important}
        #sca-fg-today-offer-iframe .sca-fg-today-offer-subtitle {color: #b9b9c3 !important}
        #sca-fg-today-offer-iframe .sca-offer-title {color: #82868b}
        #sca-fg-today-offer-iframe .sca-fg-offer { background-color: #ebe9f140; border: 1px solid #ebe9f1; }
        #sca-fg-today-offer-iframe .sca-fg-offer.sca-offer-archived { background-color: #ffffff10 ;border: 1px solid #ffffff; }
        .sca-fg-icon-success-anim {box-shadow: inset 0 0 0 #ffffff;}
        @-webkit-keyframes animated-checkmark-fill {to {box-shadow: inset 0 0 0 30px #ffffff}}
        @keyframes animated-checkmark-fill {to {box-shadow: inset 0 0 0 30px #ffffff}}
        .sca-fg-icon-success-circle {stroke: #ffffff;}
        .bogos-bundles-widget { background-color: #F3F3F3;  }
        .bogos-bundles-widget-body .bogos-bundle-item { background-color: #FFFFFF; }
        .bogos-bundles-widget .bogos-bundles-widget-title { color: #303030; }
        .bogos-bundles-widget .bogos-bundles-widget-description { color: #616161; }
        .bogos-bundle-item .bogos-bundle-item-title { color: #303030; }
        .bogos-bundle-item .bogos-bundle-item-discount-price, .bogos-bundles-total-discount-price { color: #303030; }
        .bogos-bundle-item .bogos-bundle-item-original-price, .bogos-bundles-total-original-price { color: #B5B5B5; }
        .bogos-bundles-widget-footer .bogos-bundles-button-add { color: #FFFFFF; background-color: #303030; }
</style>

<style id="sca_fg_custom_style"></style>

<script id="sca_fg_custom_script"></script>

<script type="lazyload_js" data-src="https://cdn.shopify.com/extensions/f0b22dc3-f136-423d-b936-5616754ad4ea/bogos-io-free-gift-27/assets/glider.min.js"></script>
<script type="lazyload_js" data-src="https://cdn.shopify.com/extensions/f0b22dc3-f136-423d-b936-5616754ad4ea/bogos-io-free-gift-27/assets/lz-string.js"></script>

<div id="freegifts-main-popup-container" class="freegifts-main-container sca-modal-fg"
     data-animation="slideInOutTop"></div>
<ul id="sca-fg-notifications" class="sca-fg-notifications"></ul>
  
<button id="sca-fg-today-offer-widget"></button>
<div id="sca-fg-today-offer-iframe"></div>
<script type="lazyload_js">
    if (typeof Shopify === "undefined") window.Shopify = {};
    /* Shopify.disableShopify_getCart = false; */
    /* Shopify.enable_check_variants_has_gift = false */
    Shopify.cartItems = [];
    Shopify.current_product = {};
    Shopify.current_collection = {};
    Shopify.products = {};

    //cart item

    Shopify.cartItems.push({
        ...{"id":46430186832185,"properties":{},"quantity":1,"variant_id":46430186832185,"key":"46430186832185:a1ef877484cceee7ad3132d9b600b644","title":"Clarifying Serum - Single","price":115000,"original_price":115000,"discounted_price":115000,"line_price":115000,"original_line_price":115000,"total_discount":0,"discounts":[],"sku":"8906164510039","grams":30,"vendor":"SEREKO","taxable":true,"product_id":8062477369657,"product_has_only_default_variant":false,"gift_card":false,"final_price":115000,"final_line_price":115000,"url":"\/products\/clarifying-serum?variant=46430186832185","featured_image":{"aspect_ratio":1.0,"alt":"skin-acne-serum-kit","height":800,"url":"\/\/serekoshop.com\/cdn\/shop\/files\/Serum_Acne_Antistress_Antiaging_FADESDARKSPOTS_4.webp?v=1707805360","width":800},"image":"\/\/serekoshop.com\/cdn\/shop\/files\/Serum_Acne_Antistress_Antiaging_FADESDARKSPOTS_4.webp?v=1707805360","handle":"clarifying-serum","requires_shipping":true,"product_type":"Face","product_title":"Clarifying Serum","product_description":"The SEREKO Clarifying Serum is packed with 15 + potent actives including Acerola Cherry, Bakuchiol, Sodium Hyaluronate, and Acai Palm Extract to reduce blemishes and dark spots, and stop acne from coming back.\n\nreason to love:\n\nIMPROVES SKIN TONE UPTO 99%\nANTIBACTERIAL AND ANTIOXIDANT\nREDUCES PIGMENTATION\nPREVENTS RECURRING ACNE\nFADES DARK SPOTS AND ACNE MARKS\n\n\n\n\nINGREDIENTS:\n\n\n\nAcai Palm Extract: Replete with antioxidants and essential fatty acids, it fights free radical damage and signs of ageing.\n\nBakuchiol: Extracted from plants, bakuchiol is a natural alternative to retinol that boosts collagen production, improves skin texture, and reduces wrinkles.\n\nSodium Hyaluronate: A hydrating component that locks in moisture, leaving skin feeling silky and smooth.\n\nNiacinamide: It helps build Keratin, a type of protein that keeps your skin firm, vastly improves skin texture and treats hyperpigmentation.\n\nRhodiola Extract: This adaptogenic herb helps the skin adapt to external stressors like pollution, while also reducing the appearance of wrinkles and redness.\n\n\nFull Ingredient list\nAloe Vera Juice, Pentylene Glycol, Butylene glycol, Aqua (and) Sodium Levulinate (and) Potassium Sorbate, Water (and) Marine Micro Algae extract (and) Pentylene Glycol, Xylitol (and) Glucose (and) Anhydroxylitol (and) Phoenix Dactylifera extract, Water (and) Propanediol (and) Wild Indigo Extract, Niacinamide, Xylitylglucoside (and) Anhydroxylitol (and) Xylitol, Acerola fruits extract, Dehydroxanthan Gum, Sodium Gluconate, Allantoin, Euterpe oleracea fruit extract, Rhodiola, Fragrance, Sodium Hyaluronate 1-2M, Basil Oil, Centella asiatica extract, Bakuchiol, Tea Tree Oil, DM Water\n\n\nHOW TO USE:\n\n• Use a small pea-sized amount on freshly cleansed face and neck. • Gently smooth it over your skin. • Follow it up with a moisturiser. • For best results, apply twice daily, morning and bedtime.\n\nWHAT MAKES IT SPECIAL:\n\n• Reduces recurring acne, hyperpigmentation, skin ageing, dullness and stress. • Use it as a makeup primer, or soothing face gel after shaving or waxing. • Controls stress and mood swings. • Suitable for all skin types.\n\nWHY SEREKO:\n\n• Embodying “beauty from within” philosophy • Bringing Psycho-dermatological Skincare to you • Addressing root cause of multiple skin problems • Holistic Wellness - Balances Skin, Mind and Body\n\n\nFAQ","variant_title":"Single","variant_options":["Single"],"options_with_values":[{"name":"Size","value":"Single"}],"line_level_discount_allocations":[],"line_level_total_discount":0},
        collections: Object.values({...[{"id":453112627513,"handle":"acne","title":"ACNE","updated_at":"2024-04-25T05:35:07+05:30","body_html":"","published_at":"2023-06-27T18:12:01+05:30","sort_order":"best-selling","template_suffix":"","disjunctive":false,"rules":[{"column":"tag","relation":"equals","condition":"ACNE"},{"column":"type","relation":"not_equals","condition":"giftbox_ghost_product"}],"published_scope":"web"},{"id":472304681273,"handle":"acne-1","updated_at":"2024-04-25T05:00:08+05:30","published_at":"2024-03-05T18:26:01+05:30","sort_order":"best-selling","template_suffix":"","published_scope":"web","title":"ACNE","body_html":""},{"id":453112856889,"handle":"ageing","title":"AGEING","updated_at":"2024-04-25T05:35:07+05:30","body_html":"","published_at":"2023-06-27T18:12:51+05:30","sort_order":"best-selling","template_suffix":"","disjunctive":false,"rules":[{"column":"tag","relation":"equals","condition":"ageing"},{"column":"type","relation":"not_equals","condition":"giftbox_ghost_product"}],"published_scope":"web"},{"id":472304779577,"handle":"ageing-1","updated_at":"2024-04-25T05:35:07+05:30","published_at":"2024-03-05T18:28:41+05:30","sort_order":"best-selling","template_suffix":"","published_scope":"web","title":"Ageing","body_html":""},{"id":433145741625,"handle":"all","title":"All","updated_at":"2024-04-25T05:35:07+05:30","body_html":"\u003cp\u003eOur story is founded on the idea that true beauty starts from within. By focussing on the mind-skin link, we provide an all-encompassing approach to skincare that not only improves the appearance of the skin but also promotes an inner sense of peace and serenity.\u003c\/p\u003e\n\u003cp\u003eBecome part of the SEREKO community and experience the healing power of the mind-skin connection.\u003c\/p\u003e","published_at":"2023-01-12T18:00:53+05:30","sort_order":"best-selling","template_suffix":"","disjunctive":false,"rules":[{"column":"variant_price","relation":"greater_than","condition":"-1"},{"column":"type","relation":"not_equals","condition":"candybox_generated"},{"column":"type","relation":"not_equals","condition":"giftbox_ghost_product"}],"published_scope":"web"},{"id":435993411897,"handle":"calming","title":"CALMING","updated_at":"2024-04-25T05:35:07+05:30","body_html":"","published_at":"2023-01-30T18:26:03+05:30","sort_order":"best-selling","template_suffix":"","disjunctive":false,"rules":[{"column":"tag","relation":"equals","condition":"CALMING"},{"column":"type","relation":"not_equals","condition":"giftbox_ghost_product"}],"published_scope":"web"},{"id":435993542969,"handle":"clear-skin","title":"CLEAR SKIN","updated_at":"2024-04-25T05:35:07+05:30","body_html":"","published_at":"2023-01-30T18:26:30+05:30","sort_order":"best-selling","template_suffix":"","disjunctive":false,"rules":[{"column":"tag","relation":"equals","condition":"CLEAR SKIN"},{"column":"type","relation":"not_equals","condition":"giftbox_ghost_product"}],"published_scope":"web"},{"id":435992920377,"handle":"detox","title":"DETOX","updated_at":"2024-04-25T05:00:08+05:30","body_html":"","published_at":"2023-01-30T18:23:18+05:30","sort_order":"best-selling","template_suffix":"","disjunctive":false,"rules":[{"column":"tag","relation":"equals","condition":"DETOX"},{"column":"type","relation":"not_equals","condition":"giftbox_ghost_product"}],"published_scope":"web"},{"id":453112791353,"handle":"dull-skin","title":"DULL SKIN","updated_at":"2024-04-25T05:35:07+05:30","body_html":"","published_at":"2023-06-27T18:12:33+05:30","sort_order":"best-selling","template_suffix":"","disjunctive":false,"rules":[{"column":"tag","relation":"equals","condition":"DULL SKIN"},{"column":"type","relation":"not_equals","condition":"giftbox_ghost_product"}],"published_scope":"web"},{"id":472304714041,"handle":"dullness","updated_at":"2024-04-25T05:35:07+05:30","published_at":"2024-03-05T18:27:20+05:30","sort_order":"best-selling","template_suffix":"","published_scope":"web","title":"Dullness","body_html":""},{"id":436357464377,"handle":"goals","title":"Goals","updated_at":"2024-04-25T05:35:07+05:30","body_html":"\u003cp\u003eSEREKO provides a selection of skincare and Nutraceutical products specifically tailored to different goals like calming, detoxifying and clarifying your complexion. All these ranges use natural ingredients to reduce sensitivity, provide deep cleansing, and fight off acne for better, healthier-looking skin.\u003c\/p\u003e","published_at":"2023-02-02T13:54:04+05:30","sort_order":"best-selling","template_suffix":"","disjunctive":false,"rules":[{"column":"tag","relation":"equals","condition":"goals"},{"column":"type","relation":"not_equals","condition":"giftbox_ghost_product"}],"published_scope":"web","image":{"created_at":"2023-06-29T14:50:33+05:30","alt":"Goals - SEREKO","width":2800,"height":900,"src":"\/\/serekoshop.com\/cdn\/shop\/collections\/50de3da61a2083b60b8ffcfe95204bfe.jpg?v=1688030434"}},{"id":432826745145,"handle":"serum","title":"SERUM","updated_at":"2024-04-24T14:00:03+05:30","body_html":"","published_at":"2023-01-11T14:33:45+05:30","sort_order":"manual","template_suffix":"","disjunctive":false,"rules":[{"column":"tag","relation":"equals","condition":"serum"},{"column":"type","relation":"not_equals","condition":"giftbox_ghost_product"}],"published_scope":"web"},{"id":453206999353,"handle":"shop-by-concern","title":"SHOP BY CONCERN","updated_at":"2024-04-25T05:35:07+05:30","body_html":"","published_at":"2023-06-28T15:34:37+05:30","sort_order":"manual","template_suffix":"","disjunctive":false,"rules":[{"column":"tag","relation":"equals","condition":"SHOP BY CONCERN"},{"column":"type","relation":"not_equals","condition":"giftbox_ghost_product"}],"published_scope":"web"},{"id":436104888633,"handle":"skincare","title":"Skincare","updated_at":"2024-04-25T05:35:07+05:30","body_html":"\u003cp style=\"text-align: left;\"\u003eSEREKO embodies \"beauty from within.\" Our skincare formulations are combinations of active and natural ingredients that treat a wide range of skin disorders because they recognise your state of mind.\u003c\/p\u003e","published_at":"2023-01-31T15:35:38+05:30","sort_order":"manual","template_suffix":"","disjunctive":false,"rules":[{"column":"tag","relation":"equals","condition":"skincare"},{"column":"type","relation":"not_equals","condition":"giftbox_ghost_product"}],"published_scope":"web","image":{"created_at":"2023-06-29T14:50:34+05:30","alt":"","width":2400,"height":900,"src":"\/\/serekoshop.com\/cdn\/shop\/collections\/d94e560268fa8070b013f5322b617f7c.png?v=1713944047"}}]}),
        tags: Object.values({...["acne","ageing","bestseller","calming","clear-skin","detox","dull skin","feature-cruelty_free","feature-dramatologically_tested","feature-vegan","goals","our_promise-freshly_made","our_promise-mineral_oil_free","our_promise-non_toxic","our_promise-paraben_free","our_promise-sulphate_free","serum","SHOP BY CONCERN","skincare"]})
    });

    // current product or collection
    Shopify.current_product = {...null};

    Shopify.current_collection = {...null};
    //liquid code to get customer history and customer tag

    const sca_current_template = "index";
    const sca_pathname = window.location.pathname;
    if (sca_current_template === "404" && sca_pathname?.includes("-sca_clone_freegift")) {
        window.location.replace(sca_pathname.split("-sca_clone_freegift")[0]);
    } else if (sca_current_template === "404" && sca_pathname?.includes("/collections/sca_fg")) {
        window.location.replace(`${Shopify?.routes?.root ?? "/"}collections/all`);
    }

    !function(){Array.isArray||(Array.isArray=function(e){return"[object Array]"===Object.prototype.toString.call(e)}),"function"!=typeof Object.create&&(Object.create=function(e){function t(){}return t.prototype=e,new t}),Object.keys||(Object.keys=function(e){var t,o=[];for(t in e)Object.prototype.hasOwnProperty.call(e,t)&&o.push(t);return o}),String.prototype.endsWith||Object.defineProperty(String.prototype,"endsWith",{value:function(e,t){var o=this.toString();(void 0===t||t>o.length)&&(t=o.length),t-=e.length;var n=o.indexOf(e,t);return -1!==n&&n===t},writable:!0,enumerable:!0,configurable:!0}),Array.prototype.indexOf||(Array.prototype.indexOf=function(e,t){if(null==this)throw TypeError('"this" is null or not defined');var o,n=Object(this),r=n.length>>>0;if(0===r)return -1;var i=+t||0;if(Math.abs(i)===1/0&&(i=0),i>=r)return -1;for(o=Math.max(i>=0?i:r-Math.abs(i),0);o<r;){if(o in n&&n[o]===e)return o;o++}return -1}),Array.prototype.forEach||(Array.prototype.forEach=function(e,t){if(null==this)throw TypeError(" this is null or not defined");var o,n,r,i=Object(this),f=i.length>>>0;if("function"!=typeof e)throw TypeError(e+" is not a function");for(arguments.length>1&&(o=t),n=0;n<f;)n in i&&(r=i[n],e.call(o,r,n,i)),n++}),(console=console||{}).log=console.log||function(){},"undefined"==typeof Shopify&&(Shopify={}),"function"!=typeof Shopify.onError&&(Shopify.onError=function(){}),"undefined"==typeof SECOMAPP&&(SECOMAPP={}),SECOMAPP.setCookie=function(e,t,o,n,r){var i=new Date;i.setTime(i.getTime()+24*o*36e5+60*n*1e3);var f="expires="+i.toUTCString();document.cookie=e+"="+t+";"+f+(r?";path="+r:";path=/")},SECOMAPP.deleteCookie=function(e,t){document.cookie=e+"=; expires=Thu, 01 Jan 1970 00:00:00 UTC; "+(t?";path="+t:";path=/")},SECOMAPP.getCookie=function(e){for(var t=e+"=",o=document.cookie.split(";"),n=0;n<o.length;n++){for(var r=o[n];" "==r.charAt(0);)r=r.substring(1);if(0==r.indexOf(t))return r.substring(t.length,r.length)}return""},SECOMAPP.getQueryString=function(){for(var e={},t=window.location.search.substring(1).split("&"),o=0;o<t.length;o++){var n=t[o].split("=");if(void 0===e[n[0]])e[n[0]]=decodeURIComponent(n[1]);else if("string"==typeof e[n[0]]){var r=[e[n[0]],decodeURIComponent(n[1])];e[n[0]]=r}else e[n[0]].push(decodeURIComponent(n[1]))}return e},SECOMAPP.fg_codes=[],""!==SECOMAPP.getCookie("sca_fg_codes")&&(SECOMAPP.fg_codes=JSON.parse(SECOMAPP.getCookie("sca_fg_codes")));var e=SECOMAPP.getQueryString();e.freegifts_code&&-1===SECOMAPP.fg_codes.indexOf(e.freegifts_code)&&(void 0!==SECOMAPP.activateOnlyOnePromoCode&&!0===SECOMAPP.activateOnlyOnePromoCode&&(SECOMAPP.fg_codes=[]),SECOMAPP.fg_codes.push(e.freegifts_code),SECOMAPP.setCookie("sca_fg_codes",JSON.stringify(SECOMAPP.fg_codes)))}();
  
    SECOMAPP.customer = {};
    SECOMAPP.customer.orders = [];
    SECOMAPP.customer.freegifts = [];
    SECOMAPP.customer.email = "";
    SECOMAPP.customer.first_name = "";
    SECOMAPP.customer.last_name = "";
    SECOMAPP.customer.tags = Object.values({...null});
    SECOMAPP.customer.orders_count = "" - 0;
    SECOMAPP.customer.total_spent = "" - 0;
    
    // get class name config from settings_data.json
    if (!Shopify.scaHandleConfigValue) {
        Shopify.scaHandleConfigValue = {...null};
    }

    // add link proxy
    SECOMAPP.freegiftProxy = "/apps/secomapp_freegifts_get_order?ver=3.0"
    let fgGiftIcon;
    fgGiftIcon = `https://cdn.shopify.com/extensions/f0b22dc3-f136-423d-b936-5616754ad4ea/bogos-io-free-gift-27/assets/fg-icon-red_small.png`;
    let fgWidgetIconsObj = {
        "widget-icon-1.png": 'https://cdn.shopify.com/extensions/f0b22dc3-f136-423d-b936-5616754ad4ea/bogos-io-free-gift-27/assets/widget-icon-1_small.png',
        "widget-icon-2.png": 'https://cdn.shopify.com/extensions/f0b22dc3-f136-423d-b936-5616754ad4ea/bogos-io-free-gift-27/assets/widget-icon-2_small.png',
        "widget-icon-3.png": 'https://cdn.shopify.com/extensions/f0b22dc3-f136-423d-b936-5616754ad4ea/bogos-io-free-gift-27/assets/widget-icon-3_small.png',
        "widget-icon-4.png": 'https://cdn.shopify.com/extensions/f0b22dc3-f136-423d-b936-5616754ad4ea/bogos-io-free-gift-27/assets/widget-icon-4_small.png',
        "widget-icon-5.png": 'https://cdn.shopify.com/extensions/f0b22dc3-f136-423d-b936-5616754ad4ea/bogos-io-free-gift-27/assets/widget-icon-5_small.png',
        "widget-icon-6.png": 'https://cdn.shopify.com/extensions/f0b22dc3-f136-423d-b936-5616754ad4ea/bogos-io-free-gift-27/assets/widget-icon-6_small.png'
    }
</script>

<script type="lazyload_js" data-src="https://d33a6lvgbd0fej.cloudfront.net/c2VyZWtvLm15c2hvcGlmeS5jb20=/freegifts_data_1713948073"></script>
<div id="secomapp_freegifts_url" data-url="https://d33a6lvgbd0fej.cloudfront.net/c2VyZWtvLm15c2hvcGlmeS5jb20=/freegifts_data_1713948073"></div>
<!-- END app snippet -->

</div>