<div class="site-banner">
  <div class="container">
    <div class="site-banner-img">
      <a href="#">
        <div class="site-banner-title"><h1 class="h1">All</h1></div>
        <img src="https://cdn.shopify.com/s/files/1/0691/8062/1113/files/slider-1.png?v=1673415055" alt="banner img">
      </a>
    </div>
    <div id="circle">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
          <defs><path id="circlePath" d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/></defs>
          <circle cx="150" cy="150" r="75" fill="none"/>
          <g>
            <use xlink:href="#circlePath" fill="none"/>
            <text fill="#000"><textPath xlink:href="#circlePath">- First Time In India - First Time In India</textPath></text>
          </g>
      </svg>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Banner with text",
    "settings": [],
    "presets":[
      {
        "name":"Banner with text"
      }
    ]
  }
{% endschema %}