<div class="sm:container">
  <div class="customer-form">
    <div {% render 'surface', class: 'customer-form__box', background_fallback: 'bg-secondary' %}>
      <div class="customer-form__box-inner text-center">
        <div class="v-stack gap-12">
          <h1 class="h2 text-center">
            {%- assign content = 'customer.reset_password.title' | t -%}
            {%- render 'styled-text', content: content, gradient: section.settings.heading_gradient -%}
          </h1>

          {%- form 'reset_customer_password', class: 'form', id: "reset_cust_pass" -%}
            <div class="fieldset">
              {%- if form.errors -%}
                {%- assign form_errors = form.errors | default_errors -%}
                {%- render 'banner', content: form.errors.messages['form'], status: 'error' -%}
              {% else %}
                {%- assign icon = 'error' -%}
                <div class="banner banner--error justify-center" style="display: none;">
                  {%- render 'icon' with icon, width: icon_width, height: icon_width, class: 'offset-icon' -%}<p></p>
                </div>
              {%- endif -%}

              {%- assign password_label = 'customer.reset_password.password' | t -%}
              {%- render 'input', type: 'password', name: 'customer[password]', class:' passwords', label: password_label, required: false -%}

              {%- assign password_confirmation_label = 'customer.reset_password.password_confirmation' | t -%}
              {%- render 'input', type: 'password', name: 'customer[password_confirmation]', class:' confirm_password', label: password_confirmation_label, required: false -%}
            </div>

            {%- assign submit_label = 'customer.reset_password.submit' | t -%}
            {%- render 'button', content: submit_label, type: 'submit', cls: ' reset_pass_btn', style: 'fill', size: 'xl', stretch: true, secondary: true -%}
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Customer reset password",
  "class": "shopify-section--main-customers-reset-password",
  "tag": "section",
  "settings": []
}
{% endschema %}